# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

LeafLore_backend_flow_1.png
manual_api_reqs.py

.vscode/

\.env
\.env.*

seeder

darknet_repo
darknet

images/*

train.txt
source.txt
result.txt
result*.txt
bad.list

predictions.jpg

yolov4_last.weights

# Ignore Docker-related files
Dockerfile